[submodule "vendor/SHA3IUF"]
	path = vendor/SHA3IUF
	url = https://github.com/brainhub/SHA3IUF.git
[submodule "vendor/tinytest"]
	path = vendor/tinytest
	url = https://github.com/joewalnes/tinytest.git
[submodule "vendor/secp256k1"]
	path = vendor/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/cofyc/argparse.git
